 <tr>
  <td class="text-center">
    <i class="fas fa-<%= badge.icon %> fa-3x"></i>
  </td>
  <td class="text-center">
    <%= badge.title %>
  </td>
  <td class="text-center">
    <%= TestPassage.conditions[badge.condition.to_sym][:description] %>
  </td>
  <td class="text-center">
    <% if TestPassage.conditions[badge.condition.to_sym][:relate_to] %>
      <%= TestPassage.conditions[badge.condition.to_sym][:relate_to].find(badge.condition_param).title %>
    <% else %>
      <%= badge.condition_param %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to t("show_action"), admin_badge_path(badge), class: "badge badge-info" %>
  </td>
  <td class="text-center">
    <%= link_to t("edit_action"),
        edit_admin_badge_path(badge),
        class: "badge badge-warning" %>
  </td>
  <td class="text-center">
    <%= link_to t("delete_action"),
        admin_badge_path(badge),
        method: :delete,
        data:  { confirm: t(".confirmation") },
        class: "badge badge-danger" %>
  </td>
</tr>
