 <tr>
  <td class="text-center">
    <i class="fas fa-<%= badge.icon %> fa-3x"></i>
  </td>
  <td class="text-center">
    <%= badge.title %>
  </td>
  <td>
  
  </td>
  <td class="text-center">
    <%= link_to t("show_action"), admin_badge_path(test), class: "badge badge-info" %>
  </td>
  <td class="text-center">
    <%= link_to t("edit_action"),
        edit_admin_badge_path(badge),
        class: "badge badge-warning" %>
  </td>
  <td class="text-center">
    <%= link_to t("delete_action"),
        admin_badge_path(badge),
        method: :delete,
        data:  { confirm: t(".confirmation") },
        class: "badge badge-danger" %>
  </td>
</tr>
