<h3><%= t('.title') %>: <%= @badge.title %></h3>

<ul>
    <li><%= t('.icon') %>: <%= @badge.icon %></li>
    <li><%= t('.condition') %>: <%= @badge.condition %></li>
</ul>

<%= link_to t('back_action'), admin_badges_path, class: "btn btn-secondary" %>
