<h3><%= t('.title') %>: <%= @badge.title %></h3>

<ul>
    <li><%= t('.icon') %>: <i class="fas fa-<%= @badge.icon %> fa-3x"></i></li>
    <li><%= t('.condition') %>: <%= TestPassage.conditions[@badge.condition.to_sym][:description] %></li>
    <li><%= t('.relate_to') %>:
        <% if TestPassage.conditions[@badge.condition.to_sym][:relate_to] %>
            <%= TestPassage.conditions[@badge.condition.to_sym][:relate_to].find(@badge.condition_param).title %>
        <% else %>
            <%= @badge.condition_param %>
        <% end %>
    </li>
</ul>

<%= link_to t('back_action'), admin_badges_path, class: "btn btn-secondary" %>
