<div class="nav">
  <span class="nav-item">TestGuru | <%= t('admin_panel') %> </span>
  
</div>
<div>
    <%= t('layouts.application.welcome') %>, <b class=""><%= current_user.first_name %></b>
    <%= t('.guru') %> | <%= link_to t('layouts.application.logout'), destroy_user_session_path, method: :delete %>
</div>
