  <ul class="author-info">
      <li class="author-info__item"><%= t('.project') %> <a target="_blank" href="<%= github_url("IgorShayderov", "TestGuru") %>">TestGuru</a>, <%= t('.author') %></li>
      <li class="author-info__item"><%= t('.about') %></li>
      <li class="author-info__item"><a target="_blank" href="https://thinknetica.com"><%= t('.thinknetica') %>.</a></li>
      <li class="author-info__item"><%= current_year %> <%= t('.year') %>.</li>
  </ul>