<h3><%= t('question').capitalize%></h3>

<%= @answer.question.body %>

<h4><%= t('answer').capitalize%>:</h4>
<p><%= @answer.body %></p>

<h4><%= t('correct').capitalize%>:</h4>
<p><%= t("#{@answer.correct}") %></p>

<%= link_to t('back_action'), admin_question_path(@answer.question), class: "btn btn-secondary"  %>
