<h3><%= t('.test_question', title: @question.test.title) %></h3>

<p><%= @question.body %></p>

<h4><%= t('.answers') %> <%= link_to t('new_answer_action'), new_admin_question_answer_path(@question), class: "btn btn-success btn-sm" %></h4>

<ol>
  <%= render @question.answers %>
</ol>


<%= link_to t('edit_action'), edit_admin_question_path, class: "btn btn-warning" %>
<%= link_to t('back_action'), admin_test_path(@question.test), class: "btn btn-secondary" %>
