 <tr>
  <td class="text-center"><%= test.id %></td>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td class="text-center"><%= test.questions.count %></td>
  <td class="text-center"><%= button_to 'Start', start_test_path(test), class: "btn btn-primary btn-sm" %></td>
</tr>
