<h1 class="text-center"><%= t('tests.index.header') %></h1>

<table id="tests-table" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>:
        <%= octicon "arrow-up", class: "text-success hide" %>
        <%= octicon "arrow-down", class: "text-success hide" %>
      </th>
      <th><%= t('.level') %>:</th>
      <th class="text-center"><%= t('.questions') %>:</th>
      <th class="text-center"><%= t('.actions') %>:</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
