<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if user_signed_in? %>
      <nav class="nav">
        <%= link_to "TestGuru", root_path, class: "nav-link" %>
        <%= link_to "Login", user_session_path, class: "nav-link" %>
        <%= link_to "Registration", new_user_registration_path, class: "nav-link" %>
        <%= link_to "Exit", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </nav>
        <p class="welcome-message">Welcome, <b><%= current_user.email %></b></p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
      <%= render 'shared/flash' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
